<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
</head>
<body>
    <table class="table table-hover">        
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col" >Password</th>
            </tr>
        </thead>
    <tbody>
        {% for stu in user  %}
        <tr>    
            <td>{{stu.id}}</td>
            <td>{{stu.name}}</td>
            <td>{{stu.email}}</td>
            <td>{{stu.password}}</td>
        </tr>
        {% endfor %}

    </tbody>
    </table>

</body>
</html>